*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    position: relative;
    /* overflow: hidden; */
}


.nav{
    background-color: #000;
    height: 80px;
    color: #fff;
}

.a1{
    color:#000
}

.nav__container {
    display: flex;
    height: 83%;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: normal;
    /* position: fixed; */
}


.nav__menu {
	display: flex;
	margin: 0;
	padding-left: 0;
	width: 100%;
	justify-content: space-evenly;
	position: fixed;
	z-index: 1000;
	background: black;
	padding: 1rem 0;
}



.nav__item{
    color: #fff;
    text-decoration: none; /*Quita los puntos de ul, dejandolos sin nada*/
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);  /*Creo una variable llamada clippy qué después es usada en clip-path*/
    /* transition: clip-path .3; */
    margin: 0rem 1.7rem;
    
}


.nav__item::after{  /*Crea la línea qué subraya cada item del menú*/
    content: "";
    display: block; /*El contenido se vuelve bloque*/
    background-color: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s; /*Efecto qué crea alargando una línea con tiempo de .5seg*/
    
}


.nav__item:hover{

    --clippy:polygon(0 0, 99% 0, 99% 100%, 0 100%); /*Cuándo coloque el mouse encima del item, se activa clippy con hover*/

}



.nav__label, .nav__input{
    display: none;
}



/* -------------------------------------------------------------END MENU-------------------------------------------------------------------- */

/* -------------------------------------------------------------START HEADER---------------------------------------------------------------- */


.header__container{
    position: relative;
}


.header__image{

    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(../images/Group\ 99.svg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-bottom: 61px;

}

.header__img{
    margin-top: 70px;
    width: 24%;
    /* z-index: 100; */
}

/* .header__vector1 {
    position: absolute;
    width: 101%;
    height: 117%;
} */


.header__container h1{
    text-align: center;
}

/* ---------------------------------------------------------------END HEADER---------------------------------------------------------------- */


/* -------------------------------------------------------------START SECTION_1------------------------------------------------------------- */


.section__1 {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 0px;
    position: relative;
    z-index: 300;
    
}


.section__1, h2, h1, .redes{
    padding: 0 auto;
    text-align: center;
    
}

.section__1 h2{
    color: #ADADAD;
    font-size: 2rem;
    margin-bottom: 3%;
}

.section__1 h1{
    width: 65%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}


.redes{
    display: flex;
    justify-content: center;
    align-content: center;
}

.redes__image{
    margin: 0 10px;
}

.redes__image .r__img{
    height: 56px;
}

.section__1 .h2, .r__img{
    color: #ADADAD;
}

/* -------------------------------------------------------------END SECTION_1--------------------------------------------------------------- */

/* -----------------------------------------------------------------VECTOR2__IMG------------------------------------------------------------ */

.vector2__img{
    
    position: relative;
    height: 20rem;
    width: 100%;
  
}


.v__img{
    position: absolute;
    top: -139%;
    bottom: 0%;
    left: -2%;
    right: 0%;
    width: 102%;
}

/* -----------------------------------------------------------------VECTOR2__IMG------------------------------------------------------------ */

/*--------------------------------------------------------------START SECTION__2------------------------------------------------------------ */


.section__2{
    text-align: center;
    margin: 5% 0;
    height: 14rem;
    position: relative;
    z-index: 300;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.section__2 h3{
    font-size: 3rem;
    margin-bottom: 30px;
}



.section__2 p{
    margin: 0 5rem;
    text-align: center;
    width: 90%;
    font-size: 1rem;
}


.vector__circle{
position: absolute;
height: 155px;
width: 125px;
left: 90.44%;
background-image: url(./images/Group\ 97.svg);
background-size: 124%;
background-repeat: no-repeat;
color: #000;

}

/*----------------------------------------------------------------END SECTION__2------------------------------------------------------------ */


/*--------------------------------------------------------------START SECTION__3------------------------------------------------------------ */


.vector__circle1 {
    position: absolute;
    height: 55%;
    width: 12%;
    left: 88%;
    background-image: url(../images/Group\ 97.svg);
    background-size: 125%;
    background-repeat: no-repeat;
    color: #000;
    bottom: 55%;
    background-position-x: unset;
}

.section__3{

    /* font-size: 30px; */
    height: 420px;
    margin-bottom: 11rem;
    position: relative;
    z-index: 300;
    
}

.section__3 h3{

    font-size: 3rem;
    margin-left: 12%;
    margin-bottom: 2%;
    font-weight: normal;
      
}

.s3__container__flex {
	width: 50%;
	margin: auto;
}

.s3__container__flex .card p {
    margin-top: 1rem;
    color: #fff;
  }

.s3__card {
    margin-bottom: 15%;
    text-align: center;
}

.text_img_flex{

    width: 48%;
    margin-left: 18%;
}

.s3__img {
    background: #1a1615;
    border-radius: 70px;
    padding: 30px;
    
}


.flexbox__1 {

    text-align: center;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.flexbox__2 {
    text-align: center;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.text__img{
    
    background: #222;
    border-radius: 10rem;
    padding: 7%;
    
}

.flexbox__1 .text__image{
    padding: 0 17%;
}

  
.flexbox__2 .text__image{
    padding: 0 17%;
}

.flexbox__1 .text__image p{
    width: 15rem;
}

.flexbox__2 .text__image p{
    width: 15rem;
}

/*----------------------------------------------------------------END SECTION__3------------------------------------------------------------ */


/*---------------------------------------------------------------STAR SECTION__4------------------------------------------------------------ */

.section__4 h3{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 20%;
}


.div__flex {
    margin-left: 22%; 
}

.div__flex__1 {
    display: flex;
    justify-content: start;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.558);
    width: 81%;
    margin: 1rem 0;
}


.div__text__flex__0 {
	margin-left: 30%;
}

.space{
    margin-bottom: 0.5rem;
    color: #e5e5e5;
}

.div__flex .div__flex__1 .div__año__flex__0 p{
    color: rgb(138, 137, 137);
}

.no__border {
    border: none;
}



/*----------------------------------------------------------------END SECTION__4------------------------------------------------------------ */


/*---------------------------------------------------------------STAR SECTION__5------------------------------------------------------------ */


.section__5 {
	margin-top: 150px;
}


.section__5 h3{
	text-align: center;
	font-size: 3rem;
    margin-bottom: 50px;
}

.vector__circle2 {
    position: absolute;
    height: 7%;
    width: 12%;
    left: 0%;
    background-image: url(../images/Group\ 97.svg);
    background-size: 129%;
    background-repeat: no-repeat;
    color: #000;
    bottom: 25%;
    background-position-x: right;
}

.s5__div__img{
    text-align: center;
     margin: 0;
     width: 100%;
}

.s5__img {
    width: 90%;
    margin: 0;
}

.p__image {
    width: 33%;
    padding: 0 0px;
}

/*----------------------------------------------------------------END SECTION__5------------------------------------------------------------ */


/*---------------------------------------------------------------STAR SECTION__6------------------------------------------------------------ */

.section__6 {
    margin-top: 70px;
}

.section__6 h3{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}


.s6__container__flex {
    justify-content: space-around;
}


.card {
	text-align: center;
}

.s6__div__image{
    text-align: center;
    width: 30%;
    border: 1px solid white;
    border-radius: 30rem;
    height: 75%;
    margin: auto;
}


.s6__img{
    margin: 27% 0;
    width: 40%;
}

.card p{
    margin-top: 1rem;
    color: gray;
}

/*----------------------------------------------------------------END SECTION__6------------------------------------------------------------ */

/* FOOTER */

footer {
	text-align: center;
	color: gray;
    margin: 1% 0;
}